[Desktop Entry]
Name=IsaacMM
Comment=The Binding of Isaac Mod Manager
Exec=io.github.PetricaT.IsaacMM
Icon=io.github.PetricaT.IsaacMM
Terminal=false
Type=Application
Categories=Game;Utility;
